extends ../layout

block content
  .page-header
    h3 Profile Information

  form.form-horizontal(action='/account/profile', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group
      label.col-sm-2.control-label(for='email') Email
      .col-sm-4
        input.form-control(type='email', name='email', id='email', value='#{user.email}')
    .form-group
      label.col-sm-2.control-label(for='name') Name
      .col-sm-4
        input.form-control(type='text', name='name', id='name', value='#{user.profile.name}')
    .form-group
      label.col-sm-2.control-label(for='gender') Gender
      .col-sm-4
        label.radio
          input(type='radio', checked=user.profile.gender=='male', name='gender', value='male', data-toggle='radio')
          span Male
        label.radio
          input(type='radio', checked=user.profile.gender=='female', name='gender', value='female', data-toggle='radio')
          span Female
    .form-group
      label.col-sm-2.control-label(for='location') Location
      .col-sm-4
        input.form-control(type='text', name='location', id='location', value='#{user.profile.location}')
    .form-group
      label.col-sm-2.control-label(for='website') Website
      .col-sm-4
        input.form-control(type='text', name='website', id='website', value='#{user.profile.website}')
    .form-group
      .col-sm-offset-2.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-magnet
          | Update Profile


  if secrets.localAuth
    .page-header
      h3 Change Password

    form.form-horizontal(action='/account/password', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
        label.col-sm-2.control-label(for='password') New Password
        .col-sm-4
          input.form-control(type='password', name='password', id='password')
      .form-group
        label.col-sm-2.control-label(for='confirmPassword') Confirm Password
        .col-sm-4
          input.form-control(type='password', name='confirmPassword', id='confirmPassword')
      .form-group
        .col-sm-offset-2.col-sm-4
          button.btn.btn.btn-primary(type='submit')
            i.fa.fa-keyboard-o
            | Change Password


  .page-header
      h3  Company Information
  form.form-horizontal(action='/account/companyupdate', method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      .form-group
          label.col-sm-2.control-label(for='companyname') Company Name
          .col-sm-4
              input.form-control(type='text', name='companyname', id='companyname', value='#{user.businessname}')
      .form-group
          label.col-sm-2.control-label(for='companyaddress') Company Head Office
          .col-sm-4
              input.form-control(type='text', name='companyaddress', id='companyaddress', value='#{user.businessadd}')
      .form-group
          label.col-sm-2.control-label(for='companyoutlets') Company Outlets
          .col-sm-4
              input.form-control.subletadder(type='text', placeholder='Address of outlet', name='task')
              ul#todo.list-unstyled
          .col-sm-1
              button.btn.btn.btn-primary.addsublet(type='button') +

          .form-group
          .col-sm-offset-2.col-sm-4
              button.btn.btn.btn-primary(type='submit')
                  i.fa.fa-keyboard-o
                  | Update Information




  .page-header
    h3 Delete Account

  p You can delete your account, but keep in mind this action is irreversible.
      .col-sm-offset-2.col-sm-4
          button.btn.btn-danger(data-toggle='modal', data-target='#myModal')
              i.fa.fa-trash-o
              | Delete My account
      Modal
          #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
              .modal-dialog
                  .modal-content
                      .modal-header
                          button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                          h4#myModalLabel.modal-title Delete Adnest Account
                      .modal-body
                          | All user information will be deleted . Are you sure you want to continue ?
                      .modal-footer
                          form(action='/account/delete', method='POST')
                              input(type='hidden', name='_csrf', value=_csrf)
                              button.btn.btn-danger(type='submit')
                                  i.fa.fa-trash-o
                                  | Delete my account

    script.
        $(document).ready(function () {
            var data = !{JSON.stringify(user.businessoutlets)};
            for (var i = 0; i < data.length ; i++) {
                $('#todo').append("<li><input class='form-control' name='subletsval[]' value='" + data[i] + "'><a href='#' class='close' style='margin-top:-33px;margin-right:5px;' aria-hidden='true'>&times;</a></input></li>");
            }
            $('.addsublet').click(function () {
                $('#todo').append("<li><input class='form-control' name='subletsval[]' value='" + $("input[name=task]").val() + "'><a href='#' class='close' style='margin-top:-33px;margin-right:5px;' aria-hidden='true'>&times;</a></input></li>");
                $('.subletadder').val('');
            });
            $("body").on('click', '#todo a', function (e) {
                e.preventDefault();
                $(this).closest("li").remove();
            });
        });

//  .page-header
//    h3 Linked Accounts
//
//  if secrets.googleAuth
//    if user.google
//      p: a.text-danger(href='/account/unlink/google') Unlink your Google account
//    else
//      p: a(href='/auth/google') Link your Google account
//
//  if secrets.facebookAuth
//    if user.facebook
//      p: a.text-danger(href='/account/unlink/facebook') Unlink your Facebook account
//    else
//      p: a(href='/auth/facebook') Link your Facebook account
//
//  if secrets.twitterAuth
//    if user.twitter
//      p: a.text-danger(href='/account/unlink/twitter') Unlink your Twitter account
//    else
//      p: a(href='/auth/twitter') Link your Twitter account
//
//  if secrets.githubAuth
//    if user.github
//      p: a.text-danger(href='/account/unlink/github') Unlink your GitHub account
//    else
//      p: a(href='/auth/github') Link your GitHub account
//
//  if secrets.linkedinAuth
//    if user.linkedin
//      p: a.text-danger(href='/account/unlink/linkedin') Unlink your LinkedIn account
//    else
//      p: a(href='/auth/linkedin') Link your LinkedIn account
