.col-md-9
    .row
        .col-md-12
            p: button.btn.btn-success.pagination-centered(onclick='return launchEditor("coupon", "http://s7.postimg.org/cntfj0a9n/coupon_blank.png");')
                i.fa.fa-magic
                | Create new Coupon
            img#coupon(src='/img/coupon_blank.png')
script(src='http://feather.aviary.com/js/feather.js')
script.
  var featherEditor = new Aviary.Feather({
    apiKey: 'c83c98c0da041785',
    apiVersion: 3,
    theme: 'dark',
    tools: ['draw', 'stickers' , 'text'],
    appendTo: '',
    onSave: function(imageID, newURL) {
      var img = document.getElementById(imageID);
      img.src = newURL;
      console.log(newURL);
    },
    onError: function(errorObj) {
      alert(errorObj.message);
    }
  });
  function launchEditor(id, src) {
    featherEditor.launch({
      image: id,
      url: src
    });
    return false;
  }