#footer
  .container
    ul.list-inline.pull-left
      li Made with love in Bangalore
    ul.list-inline.pull-right
      li
        a(href='/terms') Terms of Use
      li
        a(href='/policy') Privacy Policy