.col-md-9
    section.panel.no-borders.hbox
        #line-example

script.
    var month=new Array();
    month[0]="Jan";
    month[1]="Feb";
    month[2]="Mar";
    month[3]="Apr";
    month[4]="May";
    month[5]="Jun";
    month[6]="Jul";
    month[7]="Aug";
    month[8]="Sep";
    month[9]="Oct";
    month[10]="Nov";
    month[11]="Dec";
    Morris.Line({
      element: 'line-example',
      data: [
      { y: '#{year}-01-01', a: parseInt(#{user.FB_months_people_reached[0]})},
      { y: '#{year}-02-01', a: parseInt(#{user.FB_months_people_reached[1]})},
      { y: '#{year}-03-01', a: parseInt(#{user.FB_months_people_reached[2]})},
      { y: '#{year}-04-01', a: parseInt(#{user.FB_months_people_reached[3]})},
      { y: '#{year}-05-01', a: parseInt(#{user.FB_months_people_reached[4]})},
      { y: '#{year}-06-01', a: parseInt(#{user.FB_months_people_reached[5]})},
      { y: '#{year}-07-01', a: parseInt(#{user.FB_months_people_reached[6]})},
      { y: '#{year}-08-01', a: parseInt(#{user.FB_months_people_reached[7]})},
      { y: '#{year}-09-01', a: parseInt(#{user.FB_months_people_reached[8]})},
      { y: '#{year}-10-01', a: parseInt(#{user.FB_months_people_reached[9]})},
      { y: '#{year}-11-01', a: parseInt(#{user.FB_months_people_reached[10]})},
      { y: '#{year}-12-01', a: parseInt(#{user.FB_months_people_reached[11]})}
      ],
      xkey: 'y',
      ykeys: ['a'],
      xLabels: 'month',
      grid: false,
      xLabelFormat : function(x){return month[x.getMonth()];},
      labels: ['Facebook']
      });
