.col-md-9
        .row
          .col-md-4
            section.panel.no-borders.hbox
              aside
                .wrapper.text-center.clearbottomten
                  p.h1 #{user.coupons}
                  span Coupons Generated
                  br
          .col-md-4
            section.panel.no-borders.hbox
             
              aside
                .wrapper.text-center.clearbottomten
                  p.h1 #{user.impressions}
                  span Online Impressions
                  br
          .col-md-4
            section.panel.no-borders.hbox
              
              aside
                .wrapper.text-center.clearbottomten
                  p.h1 #{user.people_touched}
                  span People Reached
                  br