.col-md-9
        .row
            .col-md-12
                section.panel
                    header.panel-heading.font-bold Generate Coupons
                    .panel-body
                        form(role='form')
                            .form-group
                                label Email address
                                input.form-control(type='email', placeholder='#{user.email}', disabled='disabled')
                            .form-group
                                label Number of coupons
                                input.form-control(type='text', placeholder='Enter number of coupons eg: 1000', class="source_num")
                            .form-group
                                label Address of Outlet
                                //input.form-control.typehead(type='text', placeholder='#{user.businessoutlets}')
                                .subcenters
                                    input.typeahead.form-control(type='text', placeholder='Select Business Outlet', autocomplete='off', spellcheck='false', dir='auto', class="source_loc", value="")
                                    input.typeahead.form-control(type='text', disabled='', autocomplete='off', spellcheck='false', style='visibility: hidden;')
                                    pre(aria-hidden='true', style='position: absolute; visibility: hidden; white-space: nowrap; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;').
                                    span.tt-dropdown-menu(style='position: absolute; top: 100%; left: 0px; z-index: 100; display: none;')
                                        .tt-dataset-countries
                    .text-center
                        //button.btn.btn-sm.btn-success(type='submit') Generate
                        button.btn.btn-success(data-toggle='modal', data-target='#myModal',class='generate_c_trigger')
                            | Generate
                    Modal
                        #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
                            .modal-dialog
                                .modal-content
                                    .modal-header
                                        button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                                        h4#myModalLabel.modal-title Generate Coupons
                                    .modal-body
                                        | Are you sure you want to generate more coupons ?
                                    .modal-footer
                                        form(action='/coupons/generate', method='POST')
                                            input(type='hidden', name='_csrf', value=_csrf)
                                            input(type='hidden' , name='email', value='#{user.email}',class='generate_c_email')
                                            input(type='hidden',name='quantity', value='',class='generate_c_qty')
                                            input(type='hidden',name='location',value='',class='generate_c_loc')
                                            button.btn.btn-danger(type='submit')
                                                | Generate
                    br

script.
    $(document).ready(function() {
        var numbers;
        var data = !{JSON.stringify(user.businessoutlets)};
        var locadata = [];
        for (var datapoint in data) {
            locadata.push({name : data[datapoint]});
        }
        locadata.push({name: "#{user.businessadd}"});
        var subcenters = new Bloodhound({
            datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.name); },
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            limit: 10,
            local: locadata
        });
        subcenters.initialize();
        $('.subcenters .typeahead').typeahead(null, {
            displayKey: 'name',
            source: subcenters.ttAdapter()
        });
        $('.generate_c_trigger').click(function () {
        $('.generate_c_qty').val($('.source_num').val());
        $('.source_num').val('');
        $('.source_loc').val('');
            });
        $('.subcenters .typeahead').on('typeahead:selected', function (e, datum) {
        $('.generate_c_loc').val(datum.name);
        });
        $('.subcenters .typeahead').on('typeahead:cursorchanged', function (e, datum) {
        $('.generate_c_loc').val(datum.name);
        });
        });