.col-md-9
    .row.panel
        .span12
            table.table.table-condensed.table-hover
                thead
                    tr
                        th
                        th Starter
                        th Professional
                        th Business
                tbody
                    tr
                        td Platform
                        td FB
                        td FB, Twitter
                        td All Major Networks
                    tr
                        td Coupons
                        td 1000
                        td 2000
                        td Unlimited
                    tr
                        td Free Days
                        td 15
                        td 35
                        td 55
                    tr
                        td Subscription
                        td 3 months
                        td 3 months
                        td 4 months
                    tr
                        td Cost
                        td Rs. 850 / Store
                        td Rs. 950 / Store
                        td Rs. 1250 / Store
                    tr
                        td
                        td
                        td
                        td
                    tr
                        td
                        td
                            a.btn(class = "#{user.plancode}" === "0"  ?  "btn-info" : "btn-success")
                                if  user.plancode == "0"
                                    | Current Plan
                                else
                                    | Choose Plan
                        td
                            a.btn(class = "#{user.plancode}" === "1"  ?  "btn-info" : "btn-success")
                                if user.plancode == "1"
                                    | Current Plan
                                else
                                    | Choose Plan
                        td
                            a.btn(class = "#{user.plancode}" === "2"  ?  "btn-info" : "btn-success")
                                if user.plancode == "2"
                                    | Current Plan
                                else
                                    | Choose Plan
    .row.panel
        .col-sm-12
        section.panel.hbox
            header.panel-heading.lter
                strong F.A.Q.
                hr
                .panel-body
                    div
                        span.h4.block What does supported platform mean ?
                        br
                        span.text-muted
                            | We will track and show online activity throughout the internet but will display "reverse coupons" generated only on supported platforms mentioned in the plan.
                    br
                    br
                    div
                        span.h4.block What are "reverse coupons" ?
                        br
                        span.text-muted
                            | When a customer shared the link , the customers can click on the link and get a coupon which provokes them to visit your store. They are called "reverse coupons".
                    br
                    br
                    div
                        span.h4.block What are these "free days" ?
                        br
                        span.text-muted
                            | Your billing will be counted after the free days are over ; for example ; in basic plan for 3 month subscription , you get ( 3 months + 15 days ) days in total .
                    br
                    br
                    div
                        span.h4.block Can I upgrade in between of a plan timeline ?
                        br
                        span.text-muted Sure you can !
                    br
                    br
                    div
                        span.h4.block
                            | If I close the account in between of my subscription period , will my money get refunded ?
                        br
                        span.text-muted
                            | Yes , you can talk to our customer support . The money generally takes 7 days to 20 days to get refunded .
                    br
                    br