extends ../layout

block content
    h1 AdNest Privacy Policy ("Privacy")
    | This Privacy Policy governs the manner in which AdNest collects, uses, maintains and discloses information collected from users (each, a "User") of the
    a(href='http://adnest.co')
        | http://adnest.co
    | website ("Site"). This privacy policy applies to the Site and all products and services offered by AdNest.
    br
    br
    b
        | Personal identification information
    br
    br
    | We may collect personal identification information from Users in a variety of ways, including, but not limited to, when Users visit our site, respond to a survey, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, phone number. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.
    br
    br
    b
        | Non-personal identification information
    br
    br
    | We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service providers utilized and other similar information.
    br
    br
    b
        | Web browser cookies
    br
    br
    | Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.
    br
    br
    b
        | How we use collected information
    br
    br
    | AdNest may collect and use Users personal information for the following purposes:
    br
    ul
        li
            i
                | - To improve customer service
            br
            | Information you provide helps us respond to your customer service requests and support needs more efficiently.
        li
            i
                | - To personalize user experience
            br
            | We may use information in the aggregate to understand how our Users as a group use the services and resources provided on our Site.
        li
            i
                | - To improve our Site
            br
            | We may use feedback you provide to improve our products and services.
        li
            i
                | - To run a promotion, contest, survey or other Site feature
            br
            | To send Users information they agreed to receive about topics we think will be of interest to them.
        li
            i
                | - To send periodic emails
            br
            | We may use the email address to send User information and updates pertaining to their order. It may also be used to respond to their inquiries, questions, and/or other requests. If User decides to opt-in to our mailing list, they will receive emails that may include company news, updates, related product or service information, etc.
    b
        | How we protect your information
    br
    br
    | We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on our Site.
    br
    br
    | Sensitive and private data exchange between the Site and its Users happens over a SSL secured communication channel and is encrypted and protected with digital signatures.
    br
    br
    b
        | Sharing your personal information
    br
    br
    | We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above.
    br
    br
    b
        | Third party websites
    br
    br
    | Users may find advertising or other content on our Site that link to the sites and services of our partners, suppliers, advertisers, sponsors, licensors and other third parties. We do not control the content or links that appear on these sites and are not responsible for the practices employed by websites linked to or from our Site. In addition, these sites or services, including their content and links, may be constantly changing. These sites and services may have their own privacy policies and customer service policies. Browsing and interaction on any other website, including websites which have a link to our Site, is subject to that website's own terms and policies.
    br
    br
    b
        | Advertising
    br
    br
    | Ads appearing on our site may be delivered to Users by advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile non personal identification information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements that they believe will be of most interest to you. This privacy policy does not cover the use of cookies by any advertisers.
    br
    br
    b
        | Changes to this privacy policy
    br
    br
    | AdNest has the discretion to update this privacy policy at any time. When we do, we will send you an email. We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications.
    br
    br
    b
        | Your acceptance of these terms
    br
    br
    | By using this Site, you signify your acceptance of this policy and
    a(href='http://adnest.co/terms')
        | terms of service
    | . If you do not agree to this policy, please do not use our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.
    br
    br
    b
        | Contacting us
    br
    br
    | If you have any questions about this Privacy Policy, the practices of this site, or your dealings with this site, please contact us at:
    br
    a(href='http://adnest.co')
        | AdNest
    br
    a(href='http://adnest.co')
        | http://adnest.co
    br
    | team@adnest.co
    br
    br
    | This document was last updated on April 17, 2014
    br
    br