.col-md-9
        .col.panel
            .input-group.custom-search-form
                input.form-control(type='text',placeholder='Input coupon code to verify share')
                span.input-group-btn
                    button.btn.btn-default(type='button')
                        span.fa.fa-search-plus
            br
            p(class='search-result',style="text-align:center;color:#aaa") Search Result
            br

script.
    $(".input-group-btn").click(function(){
     $(".search-result").html("<img src='/img/loader.gif'></img>");
     $.ajax({url:"/getfblinkstatus/"+$(".form-control").val(),success:function(result){
       if(result.number_of_shares > 0){
            $(".search-result").html("You got a loyal customer , Adnest Found " + String(result.number_of_shares) + " shares.");
       }
       else{
            $(".search-result").html("Sorry Adnest couldnt search for the FB share");
       }

     }});
    });
