.col-md-3.sidebarlong
        nav.nav-primary.hidden-xs
            ul.nav
              li
                a(href='/')
                  i.fa.fa-eye
                  span Dashboard
              li.dropdown-submenu
                a.dropdown-toggle(href='#', data-toggle='dropdown')
                  i.fa.fa-qrcode
                  span Coupons
                ul.dropdown-menu
                  li
                    a(href='/manage') Manage
                  li
                    a(href='/status') Status
              li
                a(href='/design')
                  i.fa.fa-magic
                  span Design Coupon
              li
                a(href='/plans')
                  i.fa.fa-money
                  span Nest Plans
              li
                a(href='/helpdesk')
                  i.fa.fa-stethoscope
                  span Help Desk
              li
                a(href='/api/facebook')
                  i.fa.fa-facebook-square
                  span Manage Facebook