.col-md-9.panel
    .page-header
        h3  Order History and Tracker
    .row
        section.vbox
            section.scrollable.wrapper
                - var data = user.bills;
                - if (data.length > 0) {
                    .table-responsive
                        table.table.tablesorter#sortme
                            thead
                                tr
                                    th Order ID
                                    th Date
                                    th # of Coupons
                                    th Address
                                    th Status
                            tbody
                                - each datap in data
                                   tr
                                       td  #{datap.id}
                                       - var parsed = new Date(parseInt(datap.date,10))
                                       - var time = String(parsed.getDate()) + "/" + String(parsed.getMonth()+1) + "/" + String(parsed.getFullYear())
                                        td #{time}
                                       td #{datap.num_coupons}
                                       td #{datap.loc}
                                       - if(datap.is_completed==0){
                                            td Order Received
                                       -}
                                       - if(datap.is_completed==1){
                                            td Dispatched
                                       -}
                                       - if(datap.is_completed==2){
                                            td On Route
                                       -}
                                       - if(datap.is_completed==3){
                                            td Destination
                                       -}

                - }  else {
                    .alert.alert-info You have no transactions for now . Buy some Coupons to view history here .
                - }

script.
    $(document).ready(function(){
      $(function(){
      $("#sortme").tablesorter();
      });
      });
