.col-md-9
    section.panel.no-borders.hbox
        .row
            .col-lg-12
                section.panel
                  header.panel-heading.font-bold
                    | Some coupons people love !
                    span(style='color: #ccc;') (based on suggestions from our awesome data team)
                    hr
                  .panel-body
                    .col-lg-4
                      section.panel.clearfix.border1px
                        .panel-body
                          a.thumb.pull-left.m-r(href='#')
                            i.fa.fa-fire.fa-3x.img-circle.text-danger
                          .clear
                            a.text-redbull.pad20(href='#')
                              strong Buy one Get one
                              br
                            a.btn.btn-xs.btn-success.m-t-xs.pad20(href='/design') Offer this
                    .col-lg-4
                      section.panel.clearfix.border1px
                        .panel-body
                          a.thumb.pull-left.m-r(href='#')
                            i.fa.fa-fire.fa-3x.img-circle.text-danger
                          .clear
                            a.text-redbull.pad20(href='#')
                              strong Save Rs.100
                              br
                            a.btn.btn-xs.btn-success.m-t-xs.pad20(href='/design') Offer this
                    .col-lg-4
                      section.panel.clearfix.border1px
                        .panel-body
                          a.thumb.pull-left.m-r(href='#')
                            i.fa.fa-fire.fa-3x.img-circle.text-danger
                          .clear
                            a.text-redbull.pad20(href='#')
                              strong Yummy Cafe Free
                              br
                            a.btn.btn-xs.btn-success.m-t-xs.pad20(href='/design') Offer this
                    .col-lg-4
                      section.panel.clearfix.border1px
                        .panel-body
                          a.thumb.pull-left.m-r(href='#',margin-right='20px')
                            i.fa.fa-fire.fa-3x.img-circle.text-warning
                          .clear
                            a.text-redbull.pad20(href='#')
                              strong Get 10% off
                              br
                            a.btn.btn-xs.btn-success.m-t-xs.pad20(href='/design') Offer this
                    .col-lg-4
                      section.panel.clearfix.border1px
                        .panel-body
                          a.thumb.pull-left.m-r(href='#')
                            i.fa.fa-fire.fa-3x.img-circle.text-warning
                          .clear
                            a.text-redbull.pad20(href='#')
                              strong Get Drink Free
                              br
                            a.btn.btn-xs.btn-success.m-t-xs.pad20(href='/design') Offer this
                    .col-lg-4
                      section.panel.clearfix.border1px
                        .panel-body
                          a.thumb.pull-left.m-r(href='#')
                            i.fa.fa-fire.fa-3x.img-circle.text-info
                          .clear
                            a.text-redbull.pad20(href='#')
                              strong Save Rs.50
                              br
                            a.btn.btn-xs.btn-success.m-t-xs.pad20(href='/design') Offer this
