extends layout
block content
    - if (typeof(user) !== 'undefined') {
        .row
        include partials/sidebar
        include partials/aviaryedit
    -}
    - else {
        h1 Adnest Admin Panel
        p.lead
        | Beautiful online promotion for offline stores .
        br
        | Bringing the power of social influence and word of mouth marketing .
        | Please Login to continue
    -}