extends layout

block content
    - if (typeof(user) !== 'undefined') {
    include partials/sidebar
    include partials/info_blocks
    include partials/graph
    include partials/suggestions
    -}

    - else {
        h1 Adnest Admin Panel
        p.lead
        | Beautiful online promotion for offline stores .
        br
        | Bringing the power of social influence and word of mouth marketing . 
    -}