doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Nest Panel')
    meta(name='csrf-token', content=_csrf)
    meta(name='author', content='Nautical')
    title #{title} | Nest Panel
    link(rel='icon', type='image/ico',href='/img/favicon.ico')
    != css('styles')
    != js('application')
  body
    #wrap
      include partials/navigation
      .container
        include partials/flash
        block content
    include partials/footer