html(lang='en')
head
    meta(charset='utf-8')
    link(rel='stylesheet', href='style.css')
    title Cheelizza Offer
  body
      style.
          .coupon {
              padding: 10px;
              background: #c0392b;
              text-align: center;
              color: white;
              width: 530px;
              margin: auto;
              margin-top:50px;
              }
          .coupon .holder {
              border: 3px dashed white;
              width: 500px;
              height: 250px;
              padding: 10px;
              background: #e74c3c;
              }
          .coupon .holder h1 {
              font-size: 40px;
              }
      .container
          .row-fluid
              .span8
                  iframe(width='100%', height='350', frameborder='0', scrolling='no', marginheight='0', marginwidth='0', src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30132.860243914416!2d72.85286295!3d19.255929000000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x20ca089b8f4e4f8a!2sCHEELIZA!5e0!3m2!1sen!2s!4v1398281085370')
      br
      center
        img(src='http://adnest.co:3000/img/web.jpg')