@import (less) "lib/animate.css";
@import (less) "lib/font-awesome.min.css";
@import "lib/bootstrap/bootstrap";
@import "lib/bootstrap-social";
@import "themes/flatly";

// Scaffolding
// -------------------------

html, body {
  height: 100%;
}

body {
  padding-top: 70px;
  background-color: #F3F5F9;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -100px;
  /* Pad bottom by footer height + (optional) extra spacing */
  padding: 0 0 140px;
}

#footer {
  font-size: 12px;
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100px;
}

// Navbar
// -------------------------

@navbar-height: 45px;

.navbar-nav .profile-image {
  width: 30px;
  height: 30px;
  margin: -15px 15px -15px 0;
}

.navbar-brand {
  background-image: url('../img/nest.png');
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: left center;
  padding-left: 50px;
  margin-left: 15px;
  height: 45px;
}

// Social Buttons
// -------------------------

.btn-social {
  border-radius: 2px;
}

// Font Awesome
// -------------------------

[class^="fa-"],
[class*="fa-"] {
  margin-right: 5px;
}

// API Examples
// -------------------------

.thumb {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.thumb img {
  margin-bottom: 5px;
  margin-right: 5px;
  opacity: 0.2;
  transition: opacity 0.2s;
}

.thumb:hover img {
  opacity: 1;
  box-shadow: 0 0 3px 1px @brand-primary;
}

.facebook-caption {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 12px;
  color: #fff;
  padding: 3px;
  bottom: 25px;
}



// Fixed sidebar

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  left: 0;
}

#wrapper.active {
  position: relative;
  left: 250px;
}

#wrapper.active #sidebar-wrapper {
  left: 250px;
  width: 250px;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: inline-block;
}

.inset {
  padding: 15px;
}

}

.bg-info{
    background-color: #5DCFF3;
    color: #FFFFFF;
}

.clearbottomten{
    margin-bottom: 10px;
}


.sidebarlong{
    min-height:900px;
}

.border1px{
    border: 1px solid #ddd;
}

.morris-hover{position:absolute;z-index:1000;}.morris-hover.morris-default-style{border-radius:10px;padding:6px;color:#666;background:rgba(255, 255, 255, 0.8);border:solid 2px rgba(230, 230, 230, 0.8);font-family:sans-serif;font-size:12px;text-align:center;}.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.25em 0;}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0;}


.text-redbull{
    font-family : "Open Sans","Arial","sans-serif" ;
    font-size:	13px;
    font-weight:	700;
    color:	#FB6B5B
}

.pad20{
    margin-left:20px;
    margin-bottom:8px;
}

.conversation-wrap
{
  box-shadow: -2px 0 3px #ddd;
  padding:0;
  max-height: 400px;
  overflow: auto;
}
.conversation
{
  padding:5px;
  border-bottom:1px solid #ddd;
  margin:0;

}

.message-wrap
{
  box-shadow: 0 0 3px #ddd;
  padding:0;

}
.msg
{
  padding:5px;
  /*border-bottom:1px solid #ddd;*/
  margin:0;
}
.msg-wrap
{
  padding:10px;
  max-height: 400px;
  overflow: auto;

}

.time
{
  color:#bfbfbf;
}

.send-wrap
{
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding:10px;
  /*background: #f8f8f8;*/
}

.send-message
{
  resize: none;
}

.highlight
{
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

.send-message-btn
{
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;

  border-bottom-right-radius: 0;
}
.btn-panel
{
  background: #f7f7f9;
}

.btn-panel .btn
{
  color:#b8b8b8;

  transition: 0.2s all ease-in-out;
}

.btn-panel .btn:hover
{
  color:#666;
  background: #f8f8f8;
}
.btn-panel .btn:active
{
  background: #f8f8f8;
  box-shadow: 0 0 1px #ddd;
}

.btn-panel-conversation .btn,.btn-panel-msg .btn
{

  background: #f8f8f8;
}
.btn-panel-conversation .btn:first-child
{
  border-right: 1px solid #ddd;
}

.msg-wrap .media-heading
{
  color:#717171;
  font-weight: 700;
}


.msg-date
{
  background: none;
  text-align: center;
  color:#aaa;
  border:none;
  box-shadow: none;
  border-bottom: 1px solid #ddd;
}


body::-webkit-scrollbar {
  width: 12px;
}


/* Let's get this party started */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  /*        -webkit-border-radius: 10px;
          border-radius: 10px;*/
}

/* Handle */
::-webkit-scrollbar-thumb {
  /*        -webkit-border-radius: 10px;
          border-radius: 10px;*/
  background:#ddd;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
  background: #ddd;
}

.tt-dropdown-menu{
  text-align: left;
}
.typeahead,
.tt-query,
.tt-hint {
  padding: 8px 12px;
  outline: none;
}
.typeahead {
  background-color: #fff;
}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
  color: #999
}
.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;
}
.tt-suggestion p {
  margin: 0;
}