extends ../layout

block content
    include ../partials/sidebar
    .col-md-9
        .row.panel
            br
            center
                img.fbimage(src='https://graph.facebook.com/#{me.id}/picture?type=large', width='90', height='90')
            .panel-body
                form(role='form')
                    .form-group
                        label Email address
                        input.form-control(placeholder='#{user.email}', disabled='disabled')

                    .form-group
                        label First Name
                        input.form-control(placeholder='#{me.first_name}', disabled='disabled')

                    .form-group
                        label Username
                        input.form-control(type='email', placeholder='#{me.username}', disabled='disabled')

                    .form-group
                        label Link
                        input.form-control(type='email', placeholder='#{me.link}', disabled='disabled')
    .col-md-9
        .row.panel
            br
            center
            .panel-heading
                p Manage Pages
            .panel-body
                center
                    each page in pages
                        img(src='https://graph.facebook.com/' + page.id + '/picture')